<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand title" href="/">INF3710 - TP5</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/bird-species">Espece Oiseau</a>
    </div>
  </div>
</nav>

<div class="home" *ngIf="route == ''">
  <p>
    Bienvenue<br />à<br /><span class="hotel1">Espece Oiseau</span
    ><span class="hotel2">Espece Oiseau</span><span class="hotel3">Espece Oiseau</span>
  </p>
  <button type="button" class="btn" routerLink="/bird-species">Regardez nos espece Oiseau &#10140;</button>
</div>

<router-outlet></router-outlet>
